<!-- <button type="button" (click)="setEnabled()">
  {{enabled? 'Ocultar':'Mostrar'}}
</button> -->
<!-- <div *ngIf="enabled; else notEnabled">
  <h2>{{title}}</h2>
</div>
<ng-template #notEnabled>
  <div>Lo sentimos no esta disponible!</div>
</ng-template>

<ul>
  <li *ngFor="let item of courses">{{item}}</li>
</ul> -->
<!-- 
@if (enabled) {
  <h2>{{title}}</h2>

<ul>
@for (item of courses; track $index) {
  <li>{{item}}</li>
}
</ul>
} @else {
   <h2>Lo sentimos no esta disponible!</h2>
} -->

<app-product></app-product>